/*// Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    /*   header*/
    .brand {
        min-height: 50px;
        background-color: #CCE0FC;
        margin: 20px 0 5px 0;
    }
    .optional_nav,
    .tools {
        min-height: 65px;
        background-color: #CCE0FC;
        margin: 5px 0;
    }
    .article_feature,
    .ad {
        min-height: 100px;
    }
    .article_list {
        min-height: 300px;
    }
}

/*// Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .ad {
        margin-top: 50px;
    }
    .article_feature {
        min-height: 100px;
    }
    .sidebar_content {
        min-height: 100px;
        margin: 0 15px;
    }
    .sidebar {
        min-height: 100px;
        margin: 10px 0;  
    }
     .pdleft_imp{
    padding-left: 0px ;
}
    
}

/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .ad {
        margin-top: 50px;
    }
    .article_feature {
        min-height: 100px;
    }
    .sidebar_content {
        min-height: 100px;
        margin: 0 15px;
    }
    .sidebar {
        min-height: 100px;
        margin: 10px 0;

    }
    .pdleft_imp{
    padding-left: 0px ;
}

}

/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    ...
}

/*// Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    ...
}
